:root {

    --maincolor: #0f6eae;
    --bg: #ffffffe9;
}

body {
    background-color: var(--bg);
}

.contact {
    margin-top: 26vh;

}

.contact button {
    background: var(--maincolor);
    color: white;
    font-weight: bold;
}

.contact h1 {
    color: var(--maincolor)
}

.contact h5 {
    font-weight: bold;
}

.contact a {
    color: var(--maincolor);
    font-weight: bold;
}

.customNav .active {
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.304);
    color: #000;
}

.customNav {
    background: #eeeeee;
}

.navItems {
    margin-top: 17px;
}

.nt {
    margin-top: 10px;
}

.logo {
    margin-top: 1px;
}

.navItems a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.194);

}

.navItems a::after {
    content: '';
    display: block;
    white-space: pre;
    border: 2px solid var(--maincolor);
    border-radius: 10px;
    margin-left: 45px;

}



.customNav img {
    height: 6vh;
}

.p404 {
    text-shadow: 0 0 3px black;
    font-weight: bold;
    font-family: monospace;
}

.p404img {

    filter: drop-shadow(0 0 0.75rem rgb(227, 227, 227));
}

.about {
    padding-top: 7vh;
    padding-bottom: 20vh;
    background: #fff;
    background-image: url("../pics/aboutheader.png");
}

.about h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 2px var(--maincolor);
}

.info {
    z-index: 98;
    background: #ffffff;
    padding: 30px;
    margin-top: -10vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.info h3 {
    font-weight: bold;
    color: var(--maincolor);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info p {}

.text-bold {
    font-weight: bold;
}

.flight-card {
    padding: 10px;
    background: #0081b41c;
    border-radius: 5px;
}

.flight-card p {
    font-family: monospace;
}

.flight-card label {
    font-weight: bold;
}

.flight-card .price {
    text-align: center;
    padding: 8px;
    background: #5eb41381;
    border-radius: 10px;
    color: #353535;
    font-weight: bold;
}

.searchPanel input,
button {
    padding: 10px;
    border-radius: 10px;
}

.form-control:focus {
    border-color: var(--maincolor);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.167), 1px 0 8px var(--maincolor);
}

.list {}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    z-index: 100;
    width: 40%;
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

}

.popup .title {
    font-weight: bold;
}

.btn-login {
    background: var(--maincolor);
    color: white;
    margin-right: 30px;
    font-weight: bold;
}

.btn-register,
.btn-logout {
    border: 2px solid var(--maincolor);
    color: black;
    font-weight: bold;
}

.btn-register {
    border: 2px solid var(--maincolor);
    color: black;
    font-weight: bold;
}

.btn-login:hover {
    background: #005b98;
    color: white;
}

.btn-register:hover {
    background: var(--maincolor);
    color: white;
}

.aboutSide {
    list-style: none;

}

.aboutSide li {
    padding: 15px;
    margin-left: -3.4vh;
}

.aboutSide li:hover {
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 2px;
    background: rgba(15, 110, 174, 0.6);
    color: white;
}

.info2 {
    z-index: 99;
    background: #ffffff;
    margin-top: -10vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

._about {
    background: #0000000a;
    margin-left: -1.4vh;
    text-align: center;
    margin-bottom: -1.68vh;
    font-weight: bold;
    color: var(--maincolor);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

._about .active {
    background: var(--maincolor);
    color: white;
}

.about_info {}

.about_title {
    margin-top: 4vh;
    background: var(--maincolor);
    border-radius: 20px 20% 20px 20%;
    padding: 20px;
}

.about_title h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about_info .message {
    margin-top: 4vh;
    margin-left: 3vh;
}

.profileButton {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1.5vw;
    background-image: url("../pics/profile.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2px;
}

.profileButton:hover {
    cursor: pointer;
}

.profileButton:active {
    box-shadow: 2px 2px rgb(125, 125, 125, 0.5);
}

.username {
    margin-left: 1rem;
    margin-top: 0.5vw;
}

.profileImage {
    width: 5vw;
    position: absolute;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.profileImageRadius {
    width: 10vw;
    align-items: center;
    height: 10vw;
    background-color: white;
    border-radius: 500px;
}

._profile {
    background-image: linear-gradient(rgb(245, 245, 245, 1), rgb(250, 250, 250, 1));
    padding: 1vw;
    border-radius: 15px;
    margin-top: -50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



.profile_username {
    margin-top: 2vw;
}

.completer {
    position: relative;
    background: #ffffff;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.completer p {
    margin-left: 5px;
    margin-bottom: 0;
}

.completer p:hover {
    background: rgba(218, 218, 218, 0.652);
    border-radius: 10px;
    padding-left: 10px;

}

.masterCard {
    width: 30%;
}