:root {

    --maincolor: #0f6eae;
    --bg: #ffffffe9;
}

body {
    background-color: var(--bg);
}

.contact {
    margin-top: 26vh;

}

.contact button {
    background: var(--maincolor);
    color: white;
    font-weight: bold;
}

.contact h1 {
    color: var(--maincolor)
}

.contact h5 {
    font-weight: bold;
}

.contact a {
    color: var(--maincolor);
    font-weight: bold;
}

.customNav .active {
    font-weight: bold;
}

.customNav {
    background: var(--maincolor);
}

.navItems {
    margin-top: 15px;
}

.navItems a {
    text-decoration: none;
    color: white;
}

.customNav img {
    height: 6vh;
}